body{
    background-color: antiquewhite;
    color: black;
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul {
    list-style: none;
    background-color: #22438C;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #112C66;
}
ul li:hover ul.dropdown {
    display: block;
}
nav li:hover{
    background-color: rgba(6, 70, 41, 0.919);
    border-radius:15px;
}
nav ul ul{
    display: none;
    position: absolute;
}
.banner{
    font-family: 'Allison';
    background-color: cadetblue;
    color:white;
    text-align: center;
    font-size: 100px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               0 30px 20px rgba(0,0,0,.1);
            }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    margin: 100px auto;
    width: 75%;
}
img{
    max-width: 350px;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    display: block; 
    margin: 10px; 
}
.text h2{
    font-size: 50px;
    padding: 5px;
}
.text p{
    font-size: 22px;
    padding: 6px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content2{
    margin: 100px left;
    width: 75%;
}
.img3{
    max-width: 350px;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    display: block; 
    margin-right: 20px; 
}
.text3 h2{
    font-size: 50px;
    padding: 5px;
}
.text3 p{
    font-size: 22px;
    padding: 6px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content2{
    margin: 100px right;
    width: 75%;
}
.img2{
    max-width: 350px;
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    display: block; 
    margin-right: 50px; 
}
.text2 h2{
    font-size: 50px;
    float: top;
    padding: 5px;
}
.text2 p{
    font-size: 22px;
    padding: 6px;
}